FileVersion = 1
Dependencies = {}

[Project]
Name = "corlib"
DefaultNamespace = "System"

[[Project.DistinctOptions]]
Filter = "[System.DisableChecks]"
RuntimeChecks = false

[[Configs.Debug2.Win64.DistinctOptions]]
Filter = "[System.Optimize]"
BfOptimizationLevel = "O2"
RuntimeChecks = false
EmitDynamicCastCheck = false
EmitObjectAccessCheck = false

[[Configs.Debug.Win64.DistinctOptions]]
Filter = "[System.Optimize]"
BfOptimizationLevel = "O2"
RuntimeChecks = false
EmitDynamicCastCheck = false
EmitObjectAccessCheck = false

[[Configs.Debug.Win64.DistinctOptions]]
Filter = "[System.UseLLVM]"
BfOptimizationLevel = "O0"

[[Configs.Debug.Win64.DistinctOptions]]
Filter = "[System.NoDebug]"
BfOptimizationLevel = "O0"
EmitDebugInfo = "No"

[[Configs.Debug.Win32.DistinctOptions]]
Filter = "[System.Optimize]"
BfOptimizationLevel = "O2"
RuntimeChecks = false
EmitDynamicCastCheck = false
EmitObjectAccessCheck = false

[Configs.Debug.Linux64]
PreprocessorMacros = ["DEBUG", "VALGRIND"]
