*.lst
*.vcxproj.user
*/llvm-*
*/llvm_*
*/x64/*
**/Debug*/*
**/Release*/*
**/build/*
**/.vs/*
BeefSpace_User.toml
lld-link.exe
stats/
IDE/dist/*
dist/*
BeefySysLib/third_party/*
BeefTools/RandoCode/*
jbuild*/