.DS_Store
SDL2.dll
*.lst
*.o
*.vcxproj.user
*/llvm-*
*/llvm_*
*/x64/*
**/Debug/*
**/Debug */*
**/Debug_*/*
**/Release/*
**/Release */*
**/Release_*/*
**/build/*
**/recovery/*
**/.vs/*
BeefSpace_User.toml
lld-link.exe
stats/
**/dist/*
BeefySysLib/third_party/*
BeefTools/RandoCode/*
jbuild*/
IDE/Tests/NewProject*/*
*.csproj.user
builds/*
wasm/*
BeefPerf.txt
IDE/Tests/Rando
install/
JEMalloc/
.cache
.vscode