FileVersion = 1
Projects = {mintest = {Path = "."}, minlib = {Path = "minlib"}, LibA = {Path = "LibA"}, LibB = {Path = "LibB"}, mintest2 = {Path = "mintest2"}}
ExtraPlatforms = ["Linux64"]

[Workspace]
StartupProject = "mintest"
PreprocessorMacros = ["z5"]

[Configs.Debug.Win32]
BfOptimizationLevel = "OgPlus"
InitLocalVariables = true
IntermediateType = "ObjectAndIRCode"
ConfigSelections = {mintest2 = {Enabled = false}}

[[Configs.Debug.Win32.DistinctOptions]]
Filter = "NoFrame"

[Configs.Debug.Win64]
IntermediateType = "ObjectAndIRCode"
COptimizationLevel = "Og"

[[Configs.Debug.Win64.DistinctOptions]]
Filter = "System.String"

[[Configs.Debug.Win64.DistinctOptions]]
Filter = "uint8"
AllocStackTraceDepth = 1

[Configs.Debug.WinFart]
EmitDebugInfo = "No"
EmitDynamicCastCheck = false
EnableObjectDebugFlags = false
EmitObjectAccessCheck = false
AllocStackTraceDepth = 0

[Configs.Debug.iOS]
IntermediateType = "Bitcode"

[Configs.Debug.wasm32]
AllocType = "CRT"
EmitDynamicCastCheck = false
EnableObjectDebugFlags = false
EmitObjectAccessCheck = false
IntermediateType = "ObjectAndIRCode"
ConfigSelections = {mintest2 = {Enabled = false}}

[Configs.Debug.armv7-none-linux-android21]
IntermediateType = "ObjectAndIRCode"

[Configs.Release.Win32]
Toolset = "GNU"
BfOptimizationLevel = "OgPlus"
EmitDebugInfo = "No"
AllocStackTraceDepth = 0
IntermediateType = "ObjectAndIRCode"

[Configs.Release.Win64]
Toolset = "LLVM"
BfSIMDSetting = "SSE3"
LTOType = "Thin"
AllocStackTraceDepth = 0
IntermediateType = "ObjectAndIRCode"
COptimizationLevel = "O3"

[Configs.Release.iOS]
IntermediateType = "Bitcode"

[Configs.Test.macOS]
COptimizationLevel = "O2"

[Configs.Test.iOS]
IntermediateType = "Bitcode"
COptimizationLevel = "O2"

[Configs.Test.aarch64-none-linux-android21]
COptimizationLevel = "O2"

[Configs.Paranoid.aarch64-none-linux-android21]
COptimizationLevel = "O2"
